ul {
  padding: 0;
  list-style: none;
  display: flex;
  background-color: blue;
  width: 300px;
  height: 50px;
  justify-content: space-evenly;
  align-items: center;
}

nav {
  background-color: black;
  width: 50%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

li a {
  text-decoration: none;
  color: black;
}

li a:hover {
  color: violet;
}

body {
  display: flex;
  justify-content: center;
  background-color: orange;
}
@media screen and(max-width:715px) {
  ul {
    flex-direction: column;
    width: 80%;
    height: 80%;
  }
  li a {
    font-size: 18px;
  }
  nav {
    height: 1000px;
    width: 80%;
  }

  li {
    height: 300px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    width: 100%;
    align-items: center;
  }

  ul li:nth-child(3) {
    border-bottom: none;
  }
}
